<%= form_for(@visitor, url: appointment_path(@visitor)) do |f| %>
  <%= f.hidden_field(:appointment_id) %>
  <p><%= f.text_field(:firstname, placeholder: 'First Name') %></p>
  <p><%= f.text_field(:lastname, placeholder: 'Last Name') %></p>
  <p><%= f.text_field(:phone, placeholder: 'Phone Number') %></p>
  <p><%= f.text_field(:email, placeholder: 'Email') %></p>
  <p><%= f.submit('Check-In') %></p>
<% end %>
